@page
@using MalgreTout.Models @*namespace*@
@model Create

<div class="container">
    <h3 style="color:White;">Opret Ny</h3>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <label style="color:White"asp-for="NewAllUdleveringssted.Virksomhed"></label>
                <input asp-for="NewAllUdleveringssted.Virksomhed" class="form-control"/>
                <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Virksomhed"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label style="color:white"asp-for="NewAllUdleveringssted.Adresse"></label>
                <input asp-for="NewAllUdleveringssted.Adresse" class="form-control"/>
                <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Adresse"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label style="color:white"asp-for="NewAllUdleveringssted.Postnr"></label>
                <input asp-for="NewAllUdleveringssted.Postnr" class="form-control"/>
                <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Postnr"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label style="color:white"asp-for="NewAllUdleveringssted.Bynavn"></label>
                <input asp-for="NewAllUdleveringssted.Bynavn" class="form-control"/>
                <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Bynavn"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label style="color:white"asp-for="NewAllUdleveringssted.Person"></label>
                <input asp-for="NewAllUdleveringssted.Person" class="form-control"/>
                <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Person"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label style="color:white"asp-for="NewAllUdleveringssted.Tlf"></label>
                <input asp-for="NewAllUdleveringssted.Tlf" class="form-control"/>
                <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Tlf"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label style="color:white"asp-for="NewAllUdleveringssted.Mail"></label>
                <input asp-for="NewAllUdleveringssted.Mail" cl class="form-control"/>
                <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Mail"></span>
            </div>
        </div>

        <br/>
        <input type="submit" value="Gem" class="btn btn-success"/>
        <a class="btn btn-primary" href="/ViewAll">Afbryd</a>
    </form>
</div>
    
    