@page 
@model IndexModel

<style>
div {text-align: center;}
    .block {
        display:block;
        width: 20%;
        border:none;
        background-color: Black;
        color:white;
        padding: 5px 50px;
        font-size: 50px;
        cursor:pointer;
        text-align:Center;
        /*margin:auto;*/
        line-height:1em;
        position: relative;
      
    }
   
</style>



<div class="block">
    <b><a href="/ViewAll" class="block">Se Database</a></b>
</div>
