@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hej Kevin <3 </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="/View" class="btn btn-primary">TEST database (View)</a>
<p>Shit down work in here baby, only the newest experimental code allowed in here</p>
