@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .block {
        display:block;
        width: 20%;
        border:none;
        background-color:ActiveBorder;
        color:white;
        padding: 5px 50px;
        font-size: 50px;
        cursor:pointer;
        text-align:left;
        margin:auto;
        line-height:2em;
    }

</style>

@*<div class="block">
    <b><a href="/ViewAll" class="block">Se Database</a></b>
</div>*@


@*<a href="/Test" class="btn btn-primary">TEST database (View)</a>
<p>Shit down work in here baby, only the newest experimental code allowed in here</p>*@
 



    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
    .block {
      display: block;
      width: 75%;
      /*border:solid;*/
      background-color: transparent;
      color: white;
      padding:unset /*14px 28px*/;
      font-size: 20px;
      cursor: pointer;
      text-align:center;
    }

    /*.block:hover {
      background-color:#ddd;
      color: black;
    }*/
    </style>
    </head>
    <body>

        @*<h2>Full Width Buttons</h2>*@
        <div class="block">
            <b><a href="/ViewAll" class="block">Se Malgré Tout's Database</a></b>
        </div>

    </body>
    </html>


@*<img src="images/malgretout.jpg"></img>*@






