@page 
@model IndexModel





<style>.row-2 UL LI A
div {text-align: center;}
    .block {
        display:block;
        /*width: 25%;*/
        border:none;
        background-color: Black;
        color:white;
        padding: 5px 50px;
        font-size: 50px;
        cursor:pointer;
        text-align:Center;
        /*margin:auto;*/
        line-height:1em;
        position: relative;
      
    }
   
</style>


<body>

</body>

<div class="block">
    <b><a href="/ViewAll" class="block">Se Database</a></b>
</div>


<a href="/Test" class="btn btn-primary">TEST database</a>
<p>Shit down work in here baby, only the newest experimental code allowed in here</p>
 






