@page
@model MalgreTout.Pages.MapsModel
@{
}
<style type="text/css">
    #map {
        height: 100%;
    }
    html,
    body {
        height: 100%;
        margin:auto;
        padding:unset;
    }
    
</style>
<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    @*<link rel="stylesheet" type="text/css" href="./style.css" />*@
    <script src="./index.js"></script>
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8,
            });
        }</script>
</head>
<body>
    <h1>Simple Map</h1>
    <div><iframe loading="lazy" src="https://www.google.com/maps/d/u/0/embed?mid=1Dqkw4IL1UUOQmmyEobiD3Xv6tE5Tkk6u" width="800" height="600" data-rocket-lazyload="fitvidscompatible" class="lazyloaded" data-ll-status="loaded"></iframe></div>    
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBScjz7OGfKa_-ALtdg3EGwURp4ERcotvE&callback=initMap&v=weekly"
            async></script>
</body>
</html>
<script>document.body.style.backgroundImage = 'none';</script>