@page "{id:int}"
@using MalgreTout.Models
@model UpdateModel
<div class="container">
    <h3>Update Kontaktperson</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="Kontaktperson.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Udleveringssted.Virksomhed"></label>
                        <input asp-for="Udleveringssted.Virksomhed" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="Udleveringssted.Virksomhed"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Udleveringssted.Adresse"></label>
                        <input asp-for="Udleveringssted.Adresse" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="Udleveringssted.Adresse"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Postnumre.Postnr"></label>
                        <input asp-for="Postnumre.Postnr" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="Postnumre.Postnr"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Postnumre.Bynavn"></label>
                        <input asp-for="Postnumre.Bynavn" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="Postnumre.Bynavn"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Kontaktperson.Person"></label>
                        <input asp-for="Kontaktperson.Person" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="Kontaktperson.Person"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Kontaktperson.Tlf"></label>
                        <input asp-for="Kontaktperson.Tlf" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="Kontaktperson.Tlf"></span>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Kontaktperson.Mail"></label>
                        <input asp-for="Kontaktperson.Mail" cl class="form-control"/>
                        <span class="alert-danger" asp-validation-for="Kontaktperson.Mail"></span>
                    </div>
                </div>
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/allKontaktperson">Cancel</a>
    </form>
</div>