@page "{id:int}"
@using MalgreTout.Models
@model UpdateModel
<div class="container">
    <h3 style="color:White;">Opdater Database</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="NewAllUdleveringssted.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label style="color:White"asp-for="NewAllUdleveringssted.Virksomhed"></label>
                        <input asp-for="NewAllUdleveringssted.Virksomhed" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Virksomhed"></span>
                    </div>
                </div>
                
        <input asp-for="NewAllUdleveringssted.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label style="color:White" asp-for="NewAllUdleveringssted.Adresse"></label>
                        <input asp-for="NewAllUdleveringssted.Adresse" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Adresse"></span>
                    </div>
                </div>
                
        <input asp-for="NewAllUdleveringssted.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label style="color:White" asp-for="NewAllUdleveringssted.Postnr"></label>
                        <input asp-for="NewAllUdleveringssted.Postnr" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Postnr"></span>
                    </div>
                </div>
                
        <input asp-for="NewAllUdleveringssted.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label style="color:White" asp-for="NewAllUdleveringssted.Bynavn"></label>
                        <input asp-for="NewAllUdleveringssted.Bynavn" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Bynavn"></span>
                    </div>
                </div>
                
        <input asp-for="NewAllUdleveringssted.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label style="color:White" asp-for="NewAllUdleveringssted.Person"></label>
                        <input asp-for="NewAllUdleveringssted.Person" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Person"></span>
                    </div>
                </div>
                
        <input asp-for="NewAllUdleveringssted.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label style="color:White" asp-for="NewAllUdleveringssted.Tlf"></label>
                        <input asp-for="NewAllUdleveringssted.Tlf" class="form-control"/>
                        <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Tlf"></span>
                    </div>
                </div>
        
        <input asp-for="NewAllUdleveringssted.Id" type="hidden" />
        <div class="row">
                    <div class="col-md-4">
                        <label style="color:White" asp-for="NewAllUdleveringssted.Mail"></label>
                        <input asp-for="NewAllUdleveringssted.Mail" cl class="form-control"/>
                        <span class="alert-danger" asp-validation-for="NewAllUdleveringssted.Mail"></span>
                    </div>
                </div>
        <br />
        <input type="submit" value="Opdater" class="btn btn-success" />
        <a class="btn btn-primary" href="/ViewAll">Afbryd</a>
        
    </form>
</div>